In [2]:
#Python Logic Building Task-2
#1.Unique words in sentence
sentence=input("Enter sentence")
#Converts sentence in to words
words=sentence.split()
#Converts list to set to remove duplicates
unique_words=set(words)
#Print unique words and length of them
print("unique words count:",len(unique_words))
print("unique words:",unique_words)

Enter sentence python is easy and python is powerful

unique words count: 5
unique words: {'and', 'python', 'easy', 'is', 'powerful'}

In [7]:
#2.Highest salary from employee data
employees={
      "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
#intialzing
highest_employee=""
highest_salary=0
#condition 
for name in employees:
    if employees[name]>highest_salary:
        highest_salary=employees[name]
        highest_employee=name
print("Highest salary:",highest_employee,"-",highest_salary)

Highest salary: Ravi - 75000

In [9]:
#3.Find minimum and maximum values
numbers = [45, 22, 89, 10, 66]
max_val=numbers[0]
min_val=numbers[0]
#condition loop
for num in numbers:
    if num>max_val:
        max_val=num
    if num<min_val:
        min_val=num:
#print statement
print("List:",numbers)
print("max value",max_val)
print("min value",min_val)

List: [45, 22, 89, 10, 66]
max value 89
min value 10

In [11]:
# 4.Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]
count=0
#condition
for price in prices:
    if price>1000:
        count=count+1
print("products above 1000",count)

products above 1000 2

In [14]:
#5.Calculate attendence percentage
attendance = ["P", "P", "A", "P", "P"]
present=0
#loop statement
for status in attendance:
    if status=="P":
        present=present+1
total_days=len(attendance)
#formula
percentage=(present/total_days)*100
print("attendance percentage",percentage)

attendance percentage 80.0

In [16]:
#6.Remove duplicate phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_phonenumbers=set(phone_numbers)
print("unique phone numbers",unique_phonenumbers)

unique phone numbers {9123456789, 9876543210}

In [19]:
#7.Count character frequency
word="python"
char_count={}
for ch in word:
    if ch in char_count:
        char_count[ch]=char_count[ch]+1
    else:
        char_count[ch]=1
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [22]:
#8.Convert list to tuples
value=[10,20,30]
result=tuple(value)
print("tuples",value)

tuples [10, 20, 30]

In [27]:
#9.Check if a Key Exists in a Dictionary
employees={"abhi","ram","madhu","krishna"
}
key="abhi"
if key in employees:
    print("employee exists")
else:
    print("employee doesnot exists")

employee exists

In [28]:
#10.Calculate average marks
marks = [70, 75, 80, 65]
total=0
for m in marks:
    total=total+m
average=total/len(marks)
print("average marks:",average)

average marks: 72.5